

  <mat-form-field class="example-full-width w-full">
    <mat-label>Search products</mat-label>
    <input [formControl]="search"
    (input)="searchProducts($event)"  matInput placeholder="Ex. Coca-Cola" class="p-4">
    <button
      *ngIf="search.value != ''"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="search.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error>Necessário informar ao menos 3 caracteres</mat-error>
  </mat-form-field>


<div *ngIf="!theProductsArrived" class="flex justify-center w-full h-[60vh]">
  <mat-spinner  class="flex place-self-center"></mat-spinner>

</div>



<div class="grid grid-rows-1 grid-flow-col gap-4 place-content-center ">
  <mat-card *ngFor="let product of products;" class="min-w-[150px] max-w-[400px] items-center">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.imageUrl" class="w-[50%]" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="flex justify-end gap-3">
        <a class="cursor-pointer">
          <mat-icon [routerLink]="['/products/edit', product.id]" aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </a>
        <a class="cursor-pointer">
          <mat-icon (click)="deleteProduct(product.id!)" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </a>
    </mat-card-actions>
  </mat-card>
</div>


