<form [formGroup]="productForm" (ngSubmit)="editMode ? updateProduct() : createProduct()" class="example-form flex flex-col justify-self-center w-[100%]">

  <table class="example-full-width w-full" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width w-full">
          <mat-label>Product name</mat-label>
          <input matInput formControlName="name" placeholder="Ex: Coca-Cola"/>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width w-full" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" class="example-right-align" placeholder="Ex: 23.32">
          <span matTextPrefix>$&nbsp;</span>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <p>
    <mat-form-field class="example-full-width w-full">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. Este produto foi feito com amor" formControlName="description"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width w-full" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width w-full">
          <mat-label>Image url</mat-label>
          <input matInput placeholder="Ex. https://..." formControlName="imageUrl"/>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button class="p-5 bg-[green] w-[20%] border rounded-[3px] self-center">Submit</button>
</form>
