<form [formGroup]="productForm" (ngSubmit)="editMode ? updateProduct() : createProduct()" class="example-form flex flex-col justify-self-center w-[100%]">

  <table class="example-full-width w-full" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width w-full">
          <mat-label>Product name</mat-label>
          <input matInput formControlName="name"/>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width w-full" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" class="example-right-align" placeholder="0">
          <span matTextPrefix>$&nbsp;</span>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width w-full">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" formControlName="description">1600 Amphitheatre Pkwy</textarea>

    </mat-form-field>
    <!-- <mat-form-field class="example-full-width w-full">
      <mat-label>Address 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field> -->
  </p>

  <table class="example-full-width w-full" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width w-full">
          <mat-label>Image url</mat-label>
          <input matInput placeholder="Ex. San Francisco" formControlName="imageUrl"/>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
      </td>
      <!-- <td>
        <mat-form-field class="example-full-width w-full">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width w-full">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" />
          <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
        </mat-form-field>
      </td> -->
    </tr>
  </table>
</form>
